<button class="button-close" mat-icon-button matDialogClose>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content class="form-container-note">
    <header class="header-create-note">
      Finalizar
    </header>
    <br>
    <h2 class="note-title">Nota</h2>
    <form action="">
        <textarea autofocus cols="30" rows="10"></textarea><br>
        <br>
        <button mat-raised-button class="button-cancel">Cancelar</button>
        <button mat-raised-button class="button-finish">Finalizar</button><br>
    </form>
</mat-dialog-content>
