<button class="button-close" mat-icon-button matDialogClose>
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content class="form-container">
  <header class="header-contact">
    Contacto
  </header>
  <p>
    <mat-form-field>
      <input matInput placeholder="Nombre del paciente">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Teléfono">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Correo">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Identificación">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
  </p>
  <div class="container-button">
    <button mat-raised-button >Guardar</button>
  </div>
</mat-dialog-content>