<div class="container">
    <div class="chat-list mat-elevation-z5">
        <h2 class="chat-title">Chats activos</h2>
        <div class="search-users">
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Buscar usuarios..." 
                    [formControl]=" searchControl"
                    [matAutocomplete]="users"
                />
            </mat-form-field>
            <mat-autocomplete #users = "matAutocomplete">
                <mat-option>
                    María José
                </mat-option>
            </mat-autocomplete>
        </div>

        <mat-selection-list [multiple]="false" [formControl]="chatListControl">
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let item of selectUsers">
                <img matListItemAvatar [src]="'assets/img/image-placeholder.png'"/>
                <p mat-line class="chat-title-list">
                    <span class="chat-name">
                        {{item}}
                    </span>
                    <span class="chat-date">
                        {{fecha | date}}
                    </span>
                    <span class="chat-time">
                        4min
                    </span>
                </p>
                <p mat-line>
                </p>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-selection-list>
    </div>
    <div class="messages mat-elevation-z5">
        <div class="container-buttons">
            <div class="select-icons">
                <a id="btn1" class="btn fa-solid fa-address-card" (click)="openDialogCardContact()"></a>
                <a id="btn2" class="btn fa-solid fa-message" (click)="openDialogCardMessage()"></a>
                <a id="btn3" class="btn fa-solid fa-pen-to-square" (click)="openDialogCardEdit()"></a>
                <a id="btn4" class="btn fa-solid fa-clock" (click)="openDialogCardTime()"></a>
                <a id="btn5" class="btn fa-solid fa-thumbs-up" (click)="openDialogCardLike()"></a>
            </div>
        </div>
        <!--<button id="btn1" class="btn fa-solid fa-address-card" (click)="openDialogCardContact()"></button>
        <button id="btn2" class="btn fa-solid fa-message" (click)="openDialogCardMessage()"></button>
        <button id="btn3" class="btn fa-solid fa-pen-to-square" (click)="openDialogCardEdit()"></button>
        <button id="btn4" class="btn fa-solid fa-clock" (click)="openDialogCardTime()"></button>
        <button id="btn5" class="btn fa-solid fa-thumbs-up" (click)="openDialogCardLike()"></button>-->
        <!--<i  class="fa-solid fa-address-card"></i>-->
        <!--<i type="button" class="card-message fa-solid fa-message"></i>
        <i type="button" class="card-edit fa-solid fa-pen-to-square"></i>
        <i type="button" class="card-time fa-solid fa-clock"></i>
        <i type="button" class="card-like fa-solid fa-thumbs-up"></i>-->
        <div class="message-Header">
            <img [src]="'assets/img/image-placeholder.png'"/>
            <h2>María José</h2>
        </div>
        <ng-template #noMessages>
            <div class="message-Header">
                <h2>Messages</h2>
            </div>
        </ng-template>
        <mat-divider></mat-divider>
        <div class="chat-area">
            <div class="chat-bubble-container">
                <img matListItemAvatar [src]="'assets/img/image-placeholder.png'"/>
                <div class="chat-bubble">
                    Buenos días!
                    <span class="chat-date">
                        28/06/2023
                    </span>
                </div>
            </div>
        </div>
        <div class="input-area">
            <mat-form-field appearance="outline">
                <div class="add-container">
                    <input type="checkbox" id="btn-options">
                    <label class="poppperclip" for="btn-options"><i class="fa-solid fa-paperclip"></i></label>
                    <div class="options">
                        <a><i class="fa-solid fa-file"></i></a>
                        <a><i class="fa-regular fa-image"></i></a>
                    </div>
                </div>
                <input class="send-message" matInput placeholder="Escribe un mensaje...">
                <button class="button-send" mat-icon-button matSuffix>
                    <mat-icon>send</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>


