/*.container-toolbar{
    height: 12%;
}*/
.title-user{
    color: #000080;
    text-decoration: none;
    padding-left: 65%;
}
.fa-sharp{
    color: #000080;
    padding-left: 200%;
    cursor: pointer;
}
.fa-solid{
    color: #000080;
    padding-left: 65px;
    cursor: pointer;
}
